<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.order.mapper.master.OrderInquiryWriteMapper">

    <resultMap id="BaseResultMap" type="com.prostate.order.entity.OrderInquiry">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="patient_id" jdbcType="VARCHAR" property="patientId"/>
        <result column="doctor_id" jdbcType="VARCHAR" property="doctorId"/>
        <result column="problem_description" jdbcType="VARCHAR" property="problemDescription"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="order_price" jdbcType="VARCHAR" property="orderPrice"/>
        <result column="doctor_response" jdbcType="VARCHAR" property="doctorResponse"/>
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="order_type" jdbcType="VARCHAR" property="orderType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_inquiry
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.prostate.order.entity.OrderInquiry">
    insert into order_inquiry (id, patient_id, doctor_id, 
      problem_description, file_url, order_price, 
      doctor_response, order_status, create_time, 
      create_user, update_time, update_user, 
      delete_time, delete_user, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARCHAR}, 
      #{problemDescription,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, #{orderPrice,jdbcType=VARCHAR}, 
      #{doctorResponse,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.prostate.order.entity.OrderInquiry">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into order_inquiry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="doctorId != null">
                doctor_id,
            </if>
            <if test="problemDescription != null">
                problem_description,
            </if>
            <if test="fileUrl != null">
                file_url,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="doctorResponse != null">
                doctor_response,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="doctorId != null">
                #{doctorId,jdbcType=VARCHAR},
            </if>
            <if test="problemDescription != null">
                #{problemDescription,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=VARCHAR},
            </if>
            <if test="doctorResponse != null">
                #{doctorResponse,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.prostate.order.entity.OrderInquiry">
        update order_inquiry
        <set>
            <if test="patientId != null">
                patient_id = #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="doctorId != null">
                doctor_id = #{doctorId,jdbcType=VARCHAR},
            </if>
            <if test="problemDescription != null">
                problem_description = #{problemDescription,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice,jdbcType=VARCHAR},
            </if>
            <if test="doctorResponse != null">
                doctor_response = #{doctorResponse,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                order_type= #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.prostate.order.entity.OrderInquiry">
    update order_inquiry
    set patient_id = #{patientId,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      problem_description = #{problemDescription,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      order_price = #{orderPrice,jdbcType=VARCHAR},
      doctor_response = #{doctorResponse,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>